<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalUserTitle"></h4>
      </div>
      <div class="modal-body">
        <form id="modalUserLogin" class="modal-user" action="/login" method="post">
          <div class="form-group">
            <label for="login_email">E-mail</label>
            <input type="email" class="form-control" id="login_email" name="login_email" placeholder="Insira seu e-mail">
          </div>
          <div class="form-group">
            <label for="login_password">Senha</label>
            <input type="password" class="form-control" id="login_password" name="login_password" placeholder="Insira sua senha">
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-lg btn-success">
              Entrar no site
            </button>
            <button type="button" class="btn btn-link toggle-signup" data-dismiss="modal">Ou cadastre-se</button>
          </div>
        </form>
        <form id="modalUserSignup" class="modal-user" action="/signup" method="post">
          <input type="hidden" name="permission" value="user">
          <div class="form-group">
            <label for="signup_email">E-mail</label>
            <input type="email" class="form-control col-xs-22" id="signup_email" name="signup_email" placeholder="Adicione seu e-mail">
            <div class="ajax-form-loader">
              <div class="ajax-checking bg-info">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Verificando se o e-mail já está cadastrado.
              </div>
              <div class="ajax-checked-ok help-block bg-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> E-mail disponível.
              </div>
              <div class="ajax-checked-ok help-block bg-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> E-mail já utilizado. Cadastre outro e-mail ou, caso tenha esquecido, <a href="#">clique para recuperar sua senha.</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="signup_password">Senha</label>
            <input type="password" class="form-control" id="signup_password" name="signup_password" placeholder="Digite seu nome">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirme a Senha</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Digite seu nome">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">
            Fazer cadastro
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
