<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/login" data-user="login" data-toggle="modal" data-target="#modalUser">Sign In</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup" data-user="signup" data-toggle="modal" data-target="#modalUser">Signup</a></li>
          {{#if user}}
          <li>Seja bem vindo, {{user.email}}</li>
          <li><a href="/logout">Signout</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
