<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalUserTitle"></h4>
      </div>
      <div class="modal-body">
        <form id="modalUserLogin" class="modal-user" action="/login" method="post">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail">
            <p class="help-block">Help text here.</p>
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Insira sua senha">
            <p class="help-block">Help text here.</p>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success">
              Entrar no site
            </button>
            <button type="button" class="btn btn-link">Ou cadastre-se</button>
          </div>
        </form>
        <form id="modalUserSignup" class="modal-user" action="/" method="post">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" placeholder="Insira seu e-mail">
            <p class="help-block">Help text here.</p>
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="text" class="form-control" id="password" placeholder="Digite sua senha">
            <p class="help-block">Help text here.</p>
          </div>
          <div class="form-group">
            <label for="confirm">Confirme sua senha</label>
            <input type="text" class="form-control" id="confirm" placeholder="Digite a mesma senha">
            <p class="help-block">Help text here.</p>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary">
              Fazer cadastro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
