.help-block {
  padding: 0.5em 0.5em 0;
  margin: 0;

  h1, h2, h3, h4 {
    &:first-child {
      margin-top:0;
    }
  }
  p {
    margin: 0;
    padding-bottom: 0.5em;
  }
  hr {
    border-top-color: rgba($sky-blue, 0.1);
  }
}
.has-error {
  > .help-block {
    position: relative;
    margin-top: 2px;
    background-color: $mega-magenta;
    color: $base-white;

    &:before {
      content: " ";
      position: absolute;
      top: -5px;
      left: 45%;
      display: block;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $mega-magenta transparent;
    }
  }
}
.has-success {

}

.error-list {
  background-color: $mega-magenta;
  color: $base-white;
  font-size: 0.85em;
  padding-left: 2.5em;
  // padding-top: 1em;
  // padding-bottom: 1em;
  //
  > li {
    padding: 0.5em 0;
  }
}
form {
  .password-verdict {
    display: block;
    background-color: darken($mega-magenta, 20%);
    color: $base-white;

    &.danger,
    &.warning,
    &.success {
      padding: 1em;
      font-size: 0.85em;
    }
  }
  .progress {
    position: relative;
    top: -3px;
    @include border-radius(0);
    margin-bottom: 0;
    height: 5px;
    background-color: $gray-mid;

    > {
      .pwstr {
        @include border-radius(0);
      }
    }
    .password-verdict {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8em;
    }
  }
}
