.modal-dialog {
  z-index: 10005;
}
.modal-header {
  background: $base-dark;
  color: $base-white;

  .close {
    color: $base-white;

    &:hover,
    &:focus {
      color: $base-white;
    }
  }
}
.modal-user {
  display: none;
}
.smt {
  @include opacity(0.8);
  @include transition(all 450ms linear);

  &:hover,
  &:focus {
    @include opacity(1);
    @include transition(all 450ms linear);
  }
}
.smt-inv {
  @include opacity(1);
  @include transition(opacity 450ms linear);

  &:hover,
  &:focus {
    @include opacity(0.8);
    @include transition(opacity 450ms linear);
  }
}
body {
  font-family: $font-default;
}
main {
  padding-top: 2em;
}
.btn {
  &,
  &:hover,
  &:focus {
    @include transition(all 250ms linear);
  }
}
.btn-primary {
  @include button-variant($base-white, $atomic-orange, $atomic-orange);
  border: 0;
  box-shadow: none;
  outline: none;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.btn-secondary {
  @include button-variant($btn-primary-color, $base-dark, lighten($base-dark, 40%));
  border: 0;
  box-shadow: none;
  outline: none;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.btn-max {
  padding: 0.5em 2em;
}
footer {
  padding: 3em 0;
}
.sys-msg {
  background: url(../img/congruent_pentagon.png) $water-green;
}
.ajax-form-loader {
  > div {
    display: none;
  }
  .ajax-checking .glyphicon {
    vertical-align: middle;
    margin-left: 10px;
    @include transition(all 500ms linear);

    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
