.navbar-header {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand {
  float: none;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  line-height: 1;
}
.main-header{
  position: relative;
  height: 115px;
  background-color: $base-green;
  border: 0;
  @include border-radius(0);
  @include box-shadow(15px 2px 25px rgba($base-dark, 0.2));

  font-size: 1.2em;

  a {
    &,
    &:focus,
    &:hover {
      color: $base-white;
      text-decoration: none;
    }
  }
}
.menu-about,
.main-menu {
  display: table;
  height: 115px;

  li {
    display: table-cell;
    vertical-align: middle;
  }
}
.menu-about {
  a {
    @extend .smt-inv;
  }
}
.main-menu {
  float: right;
  vertical-align: middle;

  .btn {
    font-size: 0.9em;
  }
}
