.navbar-header {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand {
  float: none;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  line-height: 1;
}
.main-header{
  height: 115px;
  background-color: $base-green;
  border: 0;
  @include border-radius(0);

  font-size: 1.4em;

  a {
    &,
    &:focus,
    &:hover {
      color: $base-white;
      text-decoration: none;
    }
  }
}
.menu-about,
.main-menu {
  display: table;
  height: 115px;

  li {
    display: table-cell;
    vertical-align: middle;
  }
}
.menu-about {

}
.main-menu {
  float: right;
  vertical-align: middle;
}
