//Colors
$base-dark:      #000000;
$base-white:     #ffffff;
$base-green:     #3ec668;

$gray-light: #ebebeb;
$dirty-gray: #494c44;
$atomic-orange:  #E88407;
$dandelion-green:  #7e9e3b;

//Fonts
$font-default:   'Open Sans', sans-serif;
$font-condensed:   'Open Sans Condensed', sans-serif;
