<!--ul>
  <li>{{user.local.email}}</li>
  <li>{{user.name}}</li>
  <li>{{user.permission}}</li>
</ul-->
<main role="main" class="profile">
  <div class="container">
    <div class="col-xs-24">
      <div class="row">
        <div class="col-xs-24 col-sm-12 col-sm-offset-6">
          <h2>There is no Agent Smith here!</h2>
          <p>Usuário não existe, está inativo ou não quer que seus dados sejam divulgados publicamente. :(</p>
        </div>
      </div>
    </div>
  </div>
</main>
