{{#if message}}
<div>
  <div class="alert alert-danger">{{message}}</div>
</div>
{{/if}}
{{#if errors}}
  <ul>
  {{#each errors}}
    <li>{{this.msg}}</li>
  {{/each}}
  </ul>
{{/if}}
<main role="main" class="home">
  <div class="container">
    <div class="jumbotron jumbotron__home">
      {{#if title}}
      <h1>{{{title}}}</h1>
      {{/if}}
      <p>Esse é um boot para aplicativos Node.js que já faz a conexão utilizando Passport, mongoDB e Express.</p>
      <hr>
      <p>
        <button class="btn btn-primary btn-lg btn-max" data-user="login" data-toggle="modal" data-target="#modalUser">Entre agora</button>
        ou
        <button class="btn btn-secondary btn-lg btn-max" data-user="signup" data-toggle="modal" data-target="#modalUser">Cadastre-se</button>
      </p>
    </div>
    <section id="about" class="row about">
      <div class="col-xs-8 text-center">
        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
        <h2>O que é o Dashboard Seed?</h2>
        <p>É uma estrutura de início de projeto para sites que precisam de área de usuário, com login e senha, com diversas autenticações: login em base de dados <strong>mongoDB</strong> local, Facebook, Google e Twitter.</p>
      </div>
      <div class="col-xs-8 text-center">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <h2>Quais tecnologias ela usa?</h2>
        <p>A base do projeto é Node.js, utilizando o Handlebars, Passport.js e Express.js. O frontend base é feito usando Grunt, Sass, Compass e Bower.</p>
      </div>
      <div class="col-xs-8 text-center">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <h2>Tenho que pagar algo pra usar?</h2>
        <p>Nope! O projeto é gratuito e aberto no GitHub para coloboração e download. Se você tem interesse em ajudar, dá um fork ou manda uma mensagem pra gente por lá.</p>
      </div>
    </section>
  </div>
</main>
