{{#if user}}
<p>
  {{{user.email}}}
</p>
{{else}}
<div class="jumbotron">
  {{#if title}}
  <h1>{{{title}}}</h1>
  {{/if}}
  <p>Esse aplicativo tem como objetivo criar um boot para projetos que precisem de gerenciamento de usuários e área exclusiva. É quase que um "big snippet" de código para quem quiser começar um site ou serviço. É como um "trabalho de conclusão de curso" para mim, pois estou aplicando neles meus estudos em Node. Ele está sendo utilizado em outro projeto privado que estou fazendo, mas as coisas globais estou atualizando aqui e dividindo com quem tiver interesse.</p>
  <p>
    <button class="btn btn-lg btn-success" data-user="login" data-toggle="modal" data-target="#modalUser">Faça seu login</button> ou
    <button class="btn btn-lg btn-primary" data-user="signup" data-toggle="modal" data-target="#modalUser">Cadastre-se</button>
  </p>
</div>
{{/if}}
