<form action="/sendfile" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="avatar">avatar</label>
    <input type="file" class="form-control" id="avatar" name="avatar">
    <p class="help-block">Help text here.</p>
  </div>
  <input type="submit" name="name" value="Enviar">
</form>
