
<form action="/signup" method="post">
  <input type="hidden" name="permission" value="teste">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Adicione seu e-mail">
    <p class="help-block">Texto de ajuda, no futuro será a msg se erro.</p>
  </div>
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome">
    <p class="help-block">Digite sua senha.</p>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">
    Mandar o avião
  </button>
</form>
